@page "/Create"
@using System.Text
@using System.Text.Json
@rendermode InteractiveServer



<PageTitle>Create</PageTitle>

<h1>Create</h1>

<label for="issue">Enter the issue:</label>
<input type="text" id="issue" name="issue" @bind="issue" />


<button type="submit" @onclick="sendData">Send</button>



@code {

    private string issue;
    private static readonly HttpClient client = new HttpClient();




    public async void sendData()
    {
        Console.WriteLine(issue);
        var requestBody = new { prompt = issue };
        var json = JsonSerializer.Serialize(requestBody);
        var content = new StringContent(json, Encoding.UTF8, "application/json");
        client.DefaultRequestHeaders.Add("Ocp-Apim-Subscription-Key", "31ed80b9e6264b81b70c8abed0a7d156");
        var response = await client.PostAsync("https://kickets7251834894.openai.azure.com/openai/deployments/gpt-35-turbo/chat/completions?api-version=2024-02-01 ", content);
        var responseString = await response.Content.ReadAsStringAsync();
        Console.WriteLine(responseString);
    }

}
   
