@page "/issues"
@page "/github-issues"
@using System.Net.Http.Headers
@using System.Text
@using System.Text.Json
@using System.Text.Json.Serialization

<h1>GitHub Issues</h1>

<ul>
    
</ul>

@code {
    
    protected override async Task OnInitializedAsync()
    {
        
    }

   
}