<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a href="/"; style="position: sticky; margin-right: 30px"> <img height="150px" ; width="194px" src="/images/logo-kickets.svg" alt=""> </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create">
                <img src="/images/create_button.svg" alt="">
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="/images/issues_button.svg" alt=""> 
            </NavLink>
        </div>

    </nav>
</div>